---
permalink: /.well-known/security.txt
eleventyExcludeFromCollections: true
---
Contact: mailto:{{ site.email }}
Expires: 2027-12-31T23:59:59.000Z
Preferred-Languages: en
Canonical: {{ site.baseUrl }}/.well-known/security.txt
